html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(imagens/fundo.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

header {
    background: black;
    height: 60px;
}

header .nav-link {
    color: rgb(196, 196, 196);
}

header .nav-link:hover {
    color: white;
    text-decoration: none;
}

#alinhamento {
    height: 100%;
}

#sites-principais {
    background: white;
    color: black;
}

.sombra {
    box-shadow: rgb(182, 182, 182) 2px 2px 3px;
}

.mouseover:hover {
    position: relative;
    animation-name: over;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

@keyframes over {
    0% {
        top: 0px;
    }
    100% {
        top: -5px;
    }
}

#sites-cursos a, #sites-principais a {
    text-decoration: none;
}

#sites-cursos a {
    color: white;
}

#sites-principais a {
    color: black;
}

@media (min-width: 200px) {
    .tamanho {
        width: 290px;
    }
}

@media (min-width: 576px) {
    .tamanho {
        width: 350px;
    }
}

@media (min-width: 800px) {
    .tamanho {
        width: 500px;
    }
}

footer {
    background: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

/*FIM PÁGINA INICIAL*/

#sobre-mim {
    color: black;
    margin-top: 110px;
}

.sobre-mim {
    background: white;
    border-radius: 20px;
}

@media (min-width: 200px) {
    #sobre-mim img {
        width: 290px;
    }
    legend, h3, h4, h6 {
        font-size: 120%;
    }
}

@media (min-width: 576px) {
    #sobre-mim img {
        width: 350px;
    }
}

@media (min-width: 800px) {
    #sobre-mim img {
        width: 500px;
    }
}

#sobre-mim h6 {
    color: rgb(71, 71, 71);
}

#formacoes {
    width: 180px;
}

#conhecimentos {
    width: 220px;
}
