html, body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: url(imagens/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

header {
    background: black;
}

#nav {
    height: 60px;
}

#navegacao {
    background: rgba(0, 0, 0, 0.7);
    padding: 0 10px;   
}

button:focus {
    outline: black;
}

header .nav-link {
    color: rgb(196, 196, 196);
}

#cabecalho i {
    color: white;
}

header .nav-link:hover {
    color: white;
    text-decoration: none;
}

#alinhamento {
    height: 100%;
}

#alinhamento h1, #alinhamento p {
    font-weight: 400;
}

#sites-principais {
    background: white;
    color: black;
}

.sombra {
    box-shadow: rgb(182, 182, 182) 2px 2px 3px;
}

.mouseover:hover {
    position: relative;
    animation-name: over;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

@keyframes over {
    0% {
        top: 0px;
    }
    100% {
        top: -5px;
    }
}

#topo {
    background: white;
    color: black;
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 15px;
}

#sites-cursos a, #sites-principais a {
    text-decoration: none;
}

#sites-cursos a {
    color: white;
}

#sites-principais a {
    color: black;
}

@media (min-width: 200px) {
    .tamanho {
        width: 290px;
    }
    #nav {
        margin-top: -8px;
    }
    #alinhamento h1 {
        font-size: 300%;
    }
    #alinhamento p {
        font-size: 150%;
    }
    #topo {
        background: rgba(255, 255, 255, 0.5);
        color: black;
        position: fixed;
        right: 10px;
        bottom: 10px;
        padding: 15px;
    }
}

@media (min-width: 576px) {
    .tamanho {
        width: 350px;
    }
    #nav {
        margin-top: 0;
    }
    #alinhamento h1 {
        font-size: 500%;
    }
    #topo {
        background: white;
        color: black;
        position: fixed;
        right: 50px;
        bottom: 50px;
        padding: 15px;
    }
}

@media (min-width: 800px) {
    .tamanho {
        width: 500px;
    }
}

footer {
    background: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

/*FIM PÁGINA INICIAL*/

#sobre-mim {
    color: black;
    margin-top: 110px;
}

.sobre-mim {
    background: white;
    border-radius: 20px;
}

h5 {
    font-size: 100%;
    color:rgb(71, 71, 71)
}

@media (min-width: 200px) {
    #sobre-mim img {
        width: 290px;
    }
    legend, h1, p, h3, h4, h6 {
        font-size: 80%;
    }

    .container-rodape h4, .container-rodape a, .container-rodape ul li a {
        text-align: center;
    }
    #formulario h3, #formulario h4, #formulario h6 {
        font-size: 0.9em;
    }
    #formulario legend {
        font-size: 0.8em;
    }
}

@media (min-width: 490px) {
    #sobre-mim img {
        width: 350px;
    }
    legend, h1, p, h3, h4, h6 {
        font-size: 102%;
    }
    #contato h4, #contato a, #contato ul li a {
        text-align: left;
    }
    #redes-sociais h4, #redes-sociais a, #redes-sociais ul li a {
        text-align: center;
    }
    #mapa-do-site h4, #mapa-do-site a, #mapa-do-site ul li a {
        text-align: right;
    }
    #formulario h3, #formulario h4, #formulario h6 {
        font-size: 1em;
    }
    #formulario legend {
        font-size: 1em;
    }
}

@media (min-width: 800px) {
    #sobre-mim img {
        width: 500px;
    }
}

#sobre-mim h6 {
    color: rgb(71, 71, 71);
}

#sobre-mim fieldset:hover {
    background-color: rgb(238, 238, 238);
}

#sobre-mim fieldset:hover legend {
    background-color: rgb(77, 77, 77);
    color:#fff;
}

#formacoes {
    width: 180px;
}

#conhecimentos {
    width: 220px;
}

#sobre-mim img.img-fluid {
    border-radius: 10px;
    transition: .2s;
}

#sobre-mim img.img-fluid:hover {
    padding: 2px;
    border-radius: 15px;
}

/*FIM SOBRE MIM*/

.contato {
    background: white;
    border-radius: 20px;
    margin-top: 110px;
    margin-bottom: 50px;
    color: black;
}

#contato-container {
    width: 100px;
}

.redes-sociais {
    width: 140px;
}

#section-contato form fieldset {
    width: 420px;
}

section a {
    color: black;
}

section a:hover#facebook {
    color: #1877F2;
}

section a:hover#instagram {
    color: #eb4faf;
}

section a:hover#linkedin {
    color: #0A66C2;
}

#botao {
    background: #2ec700;
    border: none;
}

#botao:hover {
    color: rgb(247, 247, 247);
}

#section-contato a {
    text-decoration: none;
    color: black;
}

#section-contato .fa-4x {
    font-size: 300%;
}

#section-contato h3 {
    font-size: 300%;
}

@media (min-width: 200px) {
    #section-contato fieldset h3 {
        font-size: 100%;
    }
    #botao {
        width: 220px;
    }
    #botao div {
        font-size: 80%;
    }
}

@media (min-width: 490px) {
    #section-contato h3 {
        font-size: 315%;
    }
    #botao {
        width: 330px;
    }
    #botao div {
        font-size: 100%;
    }
}
